@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-animation {
    opacity: 0.6;
    pointer-events: none; /* Disable interaction while loading */
    transition: opacity 0.3s ease;
}