@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-animation {
    opacity: 0.6;
    pointer-events: none; /* Disable interaction while loading */
    transition: opacity 0.3s ease;
}

.loading-animation::after {
    content: "";
    animation: spin 1s linear infinite;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 20%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); }
}